<html lang="zh-CN" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>登录-LightIM客服系统</title>
    <meta charset="UTF-8"/>
    <meta name="flexible" content="initial-dpr=2"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">

    <!--H5页面不缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link href="../css/admin-login.css" rel="stylesheet"/>
    <link href="../css/lanrenzhijia.css" rel="stylesheet"/>


    <script src="../js/lib/jquery-3.2.1.min.js"></script>

    <script src="../js/flexible.debug.js"></script>
    <script src="../js/flexible_css.debug.js"></script>

    <script type="text/javascript" src="../js/common/bridge.js"></script>
    <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/lib/md5.js"></script>
    <script type="text/javascript" src="../js/lib/aes-encrypt.js"></script>
    <script type="text/javascript" src="../js/lib/crypto-js.js"></script>
    <script type="text/javascript" src="../js/lib/layer/layer.js"></script>
    <script type="text/javascript" src="../js/util/tool.js"></script>
    <script type="text/javascript" src="../js/util/constant.js"></script>
    <script type="text/javascript" src="../js/common/envconfig.js"></script>
    <script type="text/javascript" src="../js/common/comconfig.js"></script>
    <script type="text/javascript" src="../js/util/userUtil.js"></script>
    <script type="text/javascript" src="../js/lib/vue.js"></script>
    <script type="text/javascript" src="../js/util/httpUtil.js"></script>
    <script type="text/javascript" src="../js/util/toastUtil.js"></script>
    <script type="text/javascript" src="../js/util/formatUtil.js"></script>
    <script type="text/javascript" src="../js/util/deviceUtil.js"></script>
    <script type="text/javascript" src="../js/admin-login.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

</head>
<body>
<div class="outer" id="app_content">

    <div class="theme-popover">
        <div class="theme-poptit">
            <a href="javascript:;" title="关闭" class="close">×</a>
            <h3>登录</h3>
        </div>
        <div class="theme-popbod dform">
            <div class="theme-signin" name="loginform" action="" method="post">
                <ol>
                    <li><h4>你必须先登录！</h4></li>
                    <li><strong>用户名：</strong><input class="ipt" v-model="username" type="text" name="log" size="20" /></li>
                    <li><strong>密码：</strong><input class="ipt" v-model="password" type="password" name="pwd" size="20" /></li>
                    <li><input class="btn btn-primary" type="submit" @click="loginClick" value=" 登 录 " /></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="theme-popover-mask"></div>



</div>
</body>
</html>
